<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The Ultimate String Reverser</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>
    <h1>The Ultimate Life Problem Solver</h1>
    <h2>What is your problem?</h2>
    <form method="POST" action="/reverse">
      <input type="text" name="string">
      <input type="submit">
    </form>
  </body>
</html>